<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="box center-box">
          <header>Todo</header>
          <br>
          <slogan>Just Do It</slogan>
          <br>
          <br>
          <form action="" method="post">
              <input name="" placeholder="username">
              <br>
              <br>
              <br>
              <input name="" placeholder="password">
              <br>
              <br>
              <br>
              <button>login</button>
          </form>
          <switch-bar>
              <span>signup</span>
          </switch-bar>
      </div>
    </div>
  </body>
  <script src="/static/js/index.js"></script>
</html>
