<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="/static/css/todo.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <div class="container center-box">
        <aside>
            <avatar>
                <img src="{{ user.image }}">
            </avatar>
            <username>{{ user.username }}</username>
            <input id="user-id" type="hidden" value="{{ user.id }}">
            <section>
                <div class="row setting">
                    <a href="#">Setting</a>
                </div>
                <div class="row logout">
                    <a href="/logout">Logout</a>
                </div>
            </section>
        </aside>
        <main>
            <section id="id-add-todo">
                <input id="id-input" placeholder="&nbsp;&nbsp;Enter">
                <button id="id-btn-add">Add</button>
            </section>
            <content>

            </content>
        </main>
    </div>
</body>
<script src="/static/js/utils.js"></script>
<script src="/static/js/todo.js"></script>
</html>
